



/* #######################################                NavBar              ###########################################*/

#buttonNav {
    border-radius: 20%;
    background-color: lightgrey;
    font-size: 40px;
    height: 45%;
    width: 45%;
    margin: 10px 20px 0px 10px;

}

.navbar {
    background-color: #111111;
    color: white;
    font-family: 'Mandali', sans-serif;
    font-size: 1rem;
    margin-top: 40px;

}

.nav-item {
    margin-bottom: 8px;
    margin-right: 0px;
}

.logo {
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    font-size: 2.3rem;
}

a {
    color: #DDDDDD;
}

a:hover {
    color: grey;
}

.nav-item {
    display: inline;
    font-family: 'Mandali', sans-serif;
    font-size: 1.4rem;
    padding-right: 40px;

}

/* #######################################             Body     ###########################################*/

/* All the pages of Website */

.bodyAboutMe,
.bodyPortfolio,
.bodySkills, 
.bodyContact
{
    background-color: #DDDDDD;
}


/*HOMEPAGE*/

.name {
    font-family: 'Megrim', cursive;
    font-size: 5rem;
    font-weight: bolder;
}

.qualName {
    color: white;
    font-family: 'Mandali', sans-serif;
    font-size: 3rem
}
/*ABOUT ME*/

.titleAboutMe{
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    
    
}

.btn-cv{
    height: 100px;
   padding-left :0px;
   text-align: right;
   width: 600px;
  
}
.textAboutMe{
    font-family: 'Mandali', sans-serif;
    font-size: 1.2rem;
    margin: 40px;
    text-align: justify;
    
    
}

/*SKILLS*/

.titleSkills{
     font-family: 'Mandali', sans-serif;
     font-weight: bolder;
     text-align: center;
}

.pSkills{
    font-family: 'Mandali', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}


.pSkillsIcon{
    padding-top: 20px;
    margin-right: 10px;
    text-align: center;
    margin-left: 20px;
}

.card{
    
    background:white;
    border: 1px solid silver;
    border-radius: 8px;
    box-shadow: 2px 2px silver;
    height: 100%;
    padding: .5rem;
    width: 100%;
}


/*PORTFOLIO*/

.cardPortfolio{
   height: 100%;
   background-color:silver;
    
    border: 5px solid white;
    border-radius: 6px;
    box-shadow: 0 1px 2px black;
    color:black;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    width: 100%;
}
.containerPortfolio{
    margin-bottom: 40px;
    margin-top: 40px;
}

h4{
   font-family: 'Mandali', sans-serif;
   font-size: 1rem;
   text-align: right;
   margin-bottom: -100px;
}

.pPortfolio{
    border-radius: 3px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    margin-top: 2rem;
   
    
}

.aBlack{
    color:black;
}
/*CONTACT*/

.pContact{
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    margin-left: 4.7rem;
    margin-top: 2rem;
}

form{
    font-family: 'Mandali', sans-serif;
    font-size: 1rem;
     margin: 40px 80px;
}


/* #######################################    Video and Images                ###########################################*/

/*HOMEPAGE*/

.bodyHomepage {
    margin: 0px;
    background: #000;
}

#bg_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bg {
    width: 100vw;
    height: 100vh;

}

#content {
    color: lightgrey;
    height: 10px;
    opacity: 1;
    position: absolute;
    padding: 90px;
    top: 350px;
    text-shadow: #000 2px 2px;
}

/*ABOUT ME*/

.myPict{
    border-radius: 10px;
    border-image: 30px solid black;
    height: 400px;
    width: 300px;
    margin: 10px 60px 0px;
    
}

/*SKILLS*/

.card img{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  
}

.card h3{
    font-weight: 400;
    font-size: 1rem;
    margin: 3rem 0 0;
    text-align: center;
}

.imgCard {
    height: 80px;
    max-width:100%;
    text-align: center;
    margin-top:30px;
   
   
}

/* #######################################              Footer             ###########################################*/

footer{
   
    background-color: black;
     padding-top: 20px;
     padding-left: 1rem;
     padding-right: 1rem;
}
i:hover {
    background-color: lightgrey;
}

.fb-ic,
.twi-ic,
.li-ic{
   
   
    padding: 10px 20px 0px ;
}


h5 {
    text-align: center;
    padding-right: 20px;
    padding-bottom: 10px;
}


/* #######################################           Hover Effects           ###########################################*/

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
